

.header {
height: 5em;
padding: 2em;
font-size: 2em;
background-image: url("../imgs/primer-plano-perlas.jpg");
background-size: cover;
background-position: center;
text-align: center;
margin: 0px;
}

body {font-family: cursive;
}
.header h1 {
    text-align: center;
margin: auto;
font-weight: 400;
}
.products td {
width: 50%;
padding: 2em;
}

.footer {
height: 3em;
line-height: 3em;
background-color: rgb(185, 112, 41);
color: white;
text-align: center;
font-weight: 900;
}
img {
    padding-top: 5px;
    margin-top: 5%;
    margin-left: 150%;
    margin-right: 50%;
    height: 200px;
    border-radius: 50px;
}
.description {
    margin-left: 150%;
    margin-right: 10%;
}